@import "..//css/fonts.css";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {

}

button:focus {
  outline: transparent;
}

/**               Wrapper               */

.wrapper {
  display: grid;
  grid-template-areas: auto 90% auto / 100%;
  grid-template-areas: 
    "header"
    "main"
    "footer"
}

.field {
  display: grid;
}

.field-header {
  grid-area: header;
}

.field-main {
  grid-area: main;
}

.field-footer {
  grid-area: footer;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/**               Header               */

header {
  height: 89px;
  background: #2d303a;
  border-bottom: 6px solid #323645;
}

header .container {
  display: grid;
  grid-template-columns: 140px auto;
  align-items: center;
}

h1 {

}

nav {
  display: grid;
  justify-items: end;
}

nav ul {
  width: 371px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(6, 1fr); 
  justify-content: end;
}

nav a {
  font-family: Lato-Bold, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

nav li:first-child a{
  color: #f06c64;
}

nav a:hover {
  color: #f06c64;
}

/**               Slider               */

.slider {
  height: 595px;
  display: grid;
  align-content: center;
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider .container {
  display: grid;
  grid-template-columns: 70px 310px 490px 70px; 
  align-items: center;
}

.slider__arrow {
  background: transparent;
  border: transparent;
  cursor: pointer;
}
