@media  (max-width: 767px) {

  .wrapper h2,
  .wrapper h3,
  .wrapper p {
    max-width: 305px;
  }

  .wrapper .container {
    width: 315px;
    padding: 0 30px;
  }

  /**               Wrapper               */

  body .wrapper {
    grid-template-rows: 71px auto auto;
  }

  /**               Header               */

  .wrapper header {
    height: 71px;
    border-bottom: 0;
  }

  .wrapper header .container {
    width: 335px;
    padding: 0 20px;
    margin-top: 3px;
    grid-gap: 26px;
    grid-template-columns: 25px 120px;
    grid-template-rows: 1fr;
  }

  nav {
    width: 25px;
    height: 25px;
    grid-column: 1 / span 1;
    grid-row: 1;
    justify-self: start;
  }

  header .logo {
    width: 120px;
    grid-column: 2 / span 1;
    grid-row: 1;
  }

  .logo img {
    width: 74%;
    height: 74%;
    margin: 2px 0 0 78px;
  }

  .tab-menu-active {
    z-index: 2;
  }

  .tab-menu-active img {
    margin-left: 0;
  }

  nav .btn-tab-menu {
    height: 25px;
    width: 25px;
    display: block;
  }

  header nav ul {
    display: none;
  }
  
  .tab-active {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 2;
  }

  .header-tab-menu {
    z-index: 2;
  }

  .overlay-tint {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(45, 48, 58, 0.6);
  }

  .nav-drop-menu {
    width: 278px;
    height: 120vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2D303A;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }

  .nav-drop-menu li {
    width: 100px;
    height: 20px;
    margin-bottom: 37px;
    margin-left: 71px;
  }

  .nav-drop-menu li:first-child {
    margin-top: 233px;
  }

  .nav-drop-menu a {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
  }

  /**               Slider               */

  main .slider {
    height: 214px;
  }

  main .slider .container {
    width: 355px;
    padding: 0 10px 8px 10px;
    grid-gap: 16px;
    grid-template-columns: 14px 294px 14px;
  }

  .slider-bg-1 {
    border-bottom: 3px solid #ea676b;
  }

  .slider-bg-2 {
    border-bottom: 3px solid #5981e7;
  }

  .slider .slide_first {
    margin-top: 4px;
    grid-template-columns: 89px 177px;
    grid-gap: 0 26px;
  }

  .slide_first .slider__iPhone-2 {
    margin: 0 0 3px 0;
  }

  .slider__iPhone-1 img {
    width: 89px;
    height: 178px;
  }

  .slider__iPhone-2 img {
    width: 178px;
    height: 89px;
  }

  .slider__iPhone-3 img {
    width: 199px;
    height: 197px;
  }

  .slider__iPhone-1 .iPhone-1 {
    width: 71px;
    height: 123px;
    top: 24px;
    left: 5px;
  }

  .slider__iPhone-2 .iPhone-2 {
    width: 123px;
    height: 70px;
    top: 5px;
    left: 22px;
  }

   .slider__iPhone-3 .iPhone-3 {
    width: 47.5px;
    height: 84px;
    top: 58px;
    left: 3px;
  }

  .slider__iPhone-3 .iPhone-4 {
    width: 77.5px;
    height: 137px;
    top: 26px;
    left: 56px;
  }

  .slider__iPhone-3 .iPhone-5 {
    width: 47.5px;
    height: 84px;
    top: 58px;
    left: 142px;
  }

  .slider__content .slider__btn {
    width: 15px;
    height: 15px;
  }

  .slide_second .btn_small {
    width: 10px;
    height: 10px;
  }

  .slider__iPhone-1 .btn_iPhone-1 {
    top: 151px;
    left: 32px;
  }

  .slider__iPhone-2 .btn_iPhone-2 {
    top: 33px;
    left: 3px;
  }

  .slider__iPhone-3 .btn_iPhone-3 {
    top: 144px;
    left: 22px;
  }

  .slider__iPhone-3 .btn_iPhone-4 {
    top: 168px;
    left: 87px;
  }

  .slider__iPhone-3 .btn_iPhone-5 {
    top: 144px;
    left: 161px;
  }

  .slider__arrow img {
    width: 14px;
    height: 25px;
  }

  /**              Services              */

  main .services {
    height: 1030px;
    border-bottom: 3px solid #fff;
  }

  .services .services__description {
    margin-bottom: 31px;
  }

  .services h2 {
    margin: 0 0 17px 1px;
    padding-top: 26px;
  }

  .services__description p {
    height: 203px;
    width: 305px;
    line-height: 1.7;
  }

  .services .services__offer {
    margin-left: 3px;
    grid-gap: 32px 0;
    grid-template-columns: 1fr;
  }
    
  /**             Portfolio              */

  main .portfolio {
    height: 841px;
    border-bottom: 3px solid #323746;
  }

  .portfolio h2 {
    margin: 0 0 19px 0px;
    padding-top: 42px;
  }

  .portfolio p {
    height: 90px;
    width: 335px;
  }

  .portfolio .portfolio__menu {
    margin-top: 15px;
  }

  .portfolio__menu button {
    margin-right: 6px;
  }

  .portfolio .portfolio__examples {
    height: 557px;
    width: 317px;
    margin-top: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px 13px;
  }

  .portfolio .portfolio__examples li {
    width: 151px;
    height: 127px;
  }

  .portfolio__examples li img {
    width: 151px;
    height: 127px;
  }

  .portfolio .active_img {
    width: 141px;
    height: 117px;
  }

    /**             About Us               */

  main .about-us {
    height: 1751px;
    border-bottom: 3px solid #ffffff;
  }

  .about-us h2 {
    padding-top: 33px;
  }

  .about-us .about-us__description p {
    height: 180px;
    width: 315px;
    line-height: 1.7;
  }

  .about-us .about-us__employee {
    margin-top: 53px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0 0;
  }

  .about-us .about-us__employee li{
    width: 314px;
    height: 474px;
  }
  .about-us__employee .about-us__photo {
    width: 314px;
    height: 314px;
    margin-bottom: 13px;
  }

  .about-us__employee p {
    width: 314px;
    height: 44px;
  }

  .about-us .social {
    margin: 11px 0;
  }

  /**              Contacts              */

  main .contacts {
    height: 966px;
    border-bottom: 3px solid #ea676b;
  }

  .contacts .container h2 {
    padding: 44px 0 0 2px;
  }

  .contacts .contacts__request {
    margin-top: 32px;
    grid-gap: 60px;
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
  }

  .contacts p {
    height: 200px;
    width: 315px;
  }

  .contacts__request form {
    width: 315px;
  }

  .contacts__request form textarea {
    height: 152px;
    padding-top: 7px;
    margin-bottom: 10px;
  }

  .contacts__request form input,
  .contacts__request form textarea {
    width: 306px;
  }

  .contacts__request form input[type="submit"] {
    width: 315px;
    height: 50px;
  }

  .contacts__request p {
    height: 84px;
    width: 315px;
  }

  .contacts__request .contact__data {
    padding-top: 15px;
  }

  .contacts__request .contact__data li {
    height: 25px;
  }

  .contacts .message {
    max-width: 280px;
  }

  .contacts .message p {
    width: auto;
    height: auto;
  }

  /**               Footer               */
  
  .wrapper footer {
    display: grid;
    justify-items: center;
  }
  
  .wrapper footer .container {
    width: auto;
    grid-template-columns: 1fr;
    justify-self: center;
  }
  
  footer .copy {
    display: none;
  }

  .wrapper footer .social {
    justify-self: center;
  }
}
